BODY {
    padding: 0 1rem;
    background: #FFF;
    font: #{$font-size}/1.4 $font-family;
    color: $color-font;
}

A {
  color: $color-link;

  &:visited {
    color: $color-link-visited;
  }

  &:hover {
    color: $color-link-hover;
  }
}

UL {
  margin: 0;
  padding: 0;
  list-style: none;
}

H1, H2, H3, H4, H5 {
  border-bottom: 3px solid #EEE;
  font-weight: normal;
}

/* LAYOUT */

.header,
.container,
.footer {
  @include container-width;
  margin: 1rem auto;
  padding: .5rem 2rem;
  box-sizing: border-box;
  border: 1px solid #DDD;
}

.container {
  display: flex;

  @media ( max-width: $bp-tablet ) {
    flex-direction: column;
  }
}

.main {
  flex-grow: 1;
}
.aside {
  flex-basis: 350px;
  margin-left: 2rem;

  @media ( max-width: $bp-desktop ) {
    flex-basis: 200px;
  }

  @media ( max-width: $bp-tablet ) {
    flex-basis: 0;
    margin-left: 0;
    margin-top: 1rem;
  }
}
